<form [formGroup]="orderHead">
	<mat-form-field class="full-width">
		<input matInput placeholder="受注番号" formControlName="denno">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="担当者" formControlName="tcode" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select placeholder="売上出荷区分" formControlName="skbn" required>
      <mat-option *ngFor="let s_skbn of skubun" [value]="s_skbn.value">
          {{ s_skbn.viewValue }}
      </mat-option>
     </mat-select>
  </mat-form-field>　　
  <mat-form-field class="full-with-field">
    <input matInput placeholder="受注先" formControlName="mcode" required>
  </mat-form-field>　
  <mat-form-field class="full-with-field biko">
    <textarea matInput placeholder="受注先備考" formControlName="bikou"></textarea>
  </mat-form-field>
  <mat-form-field class="full-with-field">
    <input matInput placeholder="請求先" formControlName="scode" required>
  </mat-form-field>
  <mat-form-field class="full-with-field">
    <input matInput placeholder="納入先" formControlName="ncode" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="送り先" formControlName="ncode" required>
  </mat-form-field>
  <button type="button" mat-raised-button color="primary">別納先</button>
  <mat-form-field class="full-with-field okuri">
    <textarea matInput placeholder="送り先住所" class="full-with-field okuri"></textarea>
  </mat-form-field>　　　
</form>